@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.footer-area__top::before {
  position: absolute;
  content: "";
  width: 35px;
  left: -19px;
  top: 5px;
  height: 70px;
  background-color: hsl(226, 100%, calc(33% - 33% * 0.2));
  z-index: -1;
  transform: rotate(29deg);
}

.footer-area__top::after {
  position: absolute;
  content: "";
  width: 35px;
  right: -19px;
  top: 5px;
  height: 70px;
  background-color: hsl(226, 100%, calc(33% - 33% * 0.2));
  z-index: -1;
  transform: rotate(-29deg);
}

.text-highlight {
  background-image: "";
  background-position-x: "";
  background-position-y: "";
  background-size: "";
  background-repeat: "";
  background-attachment: "";
  background-origin: "";
  background-color: "";
  background-clip: text;
  color: hsl(226, 100%, 33%);
}

.breadcrumb::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: #072c18;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blog-card {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    183deg,
    rgba(255, 255, 255, 0) 16.65%,
    rgba(0, 0, 0, 0.8) 76.88%
  );
  transition: 0.2s linear;
}

.banner-thumb-wrapper__item {
  position: absolute;
  background-color: white;
  color: hsl(0, 0%, 13%);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 13px 15px;
  border-radius: 10px;
  top: 37px;
  left: 95px;
  animation: horizontal-move 6s ease-in-out infinite;
  animation-delay: 1s;
}

.banner-thumb-wrapper__item.two {
  right: 25px;
  left: unset;
  top: -30px;
  animation: horizontal-move 8s ease-in-out infinite;
  animation-delay: 1s;
}

.banner-thumb-wrapper__item.three {
  top: unset;
  left: unset;
  right: 44px;
  bottom: 170px;
  display: flex;
  gap: 10px;
  animation: horizontal-move 7s ease-in-out infinite;
  animation-delay: 1s;
}

.banner-thumb-shape {
  position: absolute;
  width: 530px;
  height: 530px;
  bottom: 0px;
  right: -12px;
  border-radius: 50%;
  background-color: hsl(226, 100%, 33%);
  z-index: -1;
}

.banner-thumb-shape__one {
  position: absolute;
  top: 60px;
  right: 80px;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: hsl(226, 100%, calc(33% - 33% * 0.5) / 0.2);
}

.banner-thumb-shape__two {
  position: absolute;
  left: 90px;
  top: 75px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: hsl(226, 100%, calc(33% - 33% * 0.5) / 0.2);
}

.banner-thumb-shape__three {
  position: absolute;
  right: 75px;
  bottom: 90px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: hsl(226, 100%, calc(33% - 33% * 0.5) / 0.2);
}

@keyframes horizontal-move {
  0% {
    transform: rotateZ(2deg) scale(0.8);
  }
  50% {
    transform: rotateZ(-3deg) scale(1);
  }
  100% {
    transform: rotateZ(2deg) scale(0.8);
  }
}

.social-list__link {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  color: hsl(0 0% 100%);
  font-size: 12px;
  background-color: hsl(0 0% 100% / 0.15);
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s;
}
.social-list__link:hover,
.social-list__link:focus {
  color: hsl(0 0% 100%) !important;
  background-color: hsl(226 100% 33%) !important;
}
.social-list__link:hover {
  background-color: hsl(226 100% 33%);
  color: hsl(0 0% 100%) !important;
  border-color: hsl(226 100% 33%) !important;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
